[submodule "benchmarks/py-tpcc"]
	path = benchmarks/py-tpcc
	url = https://github.com/apavlo/py-tpcc.git
[submodule "api/test/googletest"]
	path = api/test/googletest
	url = https://github.com/google/googletest.git
[submodule "benchmarks/ldap/lb"]
	path = benchmarks/ldap/lb
	url = https://github.com/hamano/lb
[submodule "benchmarks/sqlite/py-tpcc"]
	path = benchmarks/sqlite/py-tpcc
	url = git@github.com:efeslab/py-tpcc.git
[submodule "benchmarks/YCSB-C"]
	path = benchmarks/YCSB-C
	url = git@github.com:efeslab/YCSB-C.git
[submodule "benchmarks/FlameGraph"]
	path = benchmarks/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "other/RECIPE"]
	path = other/RECIPE
	url = https://github.com/utsaslab/RECIPE.git
[submodule "api/levelhash/Clevel-Hashing"]
	path = api/levelhash/Clevel-Hashing
	url = https://github.com/chenzhangyu/Clevel-Hashing.git
